Repository dejan-xd-organization/NistagramBackend, pull requests merged in 2021-08, with the labels that each got.

#5 Close #1
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Startup.cs
Labels: user story

#8 Close #3
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Program.cs
  NistagramBackend/Services/IndexServiceImpl.cs
  NistagramBackend/Services/Intefrace/ILoginService.cs
  NistagramBackend/Services/LoginServiceImpl.cs
Labels: bug, help wanted, user story

#9 registration -> developer Close #2
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/NistagramBackend.csproj
Labels: user story

#10 (develop -> master) - End of Sprint 1
  .github/workflows/CI.yml
  Directory.Build.props
  NistagramBackend.sln
  NistagramBackend/.dockerignore
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/Controllers/WeatherForecastController.cs
  NistagramBackend/Dockerfile
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Program.cs
  NistagramBackend/Properties/launchSettings.json
  NistagramBackend/Services/IndexServiceImpl.cs
  NistagramBackend/Services/Intefrace/IIndexService.cs
  NistagramBackend/Services/Intefrace/ILoginService.cs
  NistagramBackend/Services/LoginServiceImpl.cs
  NistagramBackend/Startup.cs
  NistagramBackend/WeatherForecast.cs
  NistagramBackend/appsettings.json
  nuget.config
Labels: user story, pull request, release

#18 find_all_users->develop Close #14
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Startup.cs
Labels: user story, pull request

#19 new_users -> develop CLose #13
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Startup.cs
Labels: user story, pull request

#21 posts -> develop Close #12
  NistagramBackend.sln
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/Helper/Helper.cs
  NistagramBackend/Model/UserDTO.cs
  NistagramBackend/Model/WallPostDTO.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Services/Intefrace/ILoginService.cs
  NistagramBackend/Services/LoginServiceImpl.cs
Labels: user story, pull request

#22 sonar_cloud -> develop Close #15
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/Helper/Helper.cs
  NistagramBackend/Model/UserDTO.cs
  NistagramBackend/Model/WallPostDTO.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Program.cs
  NistagramBackend/Services/IndexServiceImpl.cs
  NistagramBackend/Services/Intefrace/IIndexService.cs
  NistagramBackend/Startup.cs
  NistagramBackend/appsettings.json
Labels: bug, documentation, pull request

#23 develop -> master Sprint 2 Release v1.0.1
  .github/workflows/CI.yml
  NistagramBackend.sln
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/Helper/Helper.cs
  NistagramBackend/Model/UserDTO.cs
  NistagramBackend/Model/WallPostDTO.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Program.cs
  NistagramBackend/Services/IndexServiceImpl.cs
  NistagramBackend/Services/Intefrace/IIndexService.cs
  NistagramBackend/Services/Intefrace/ILoginService.cs
  NistagramBackend/Services/LoginServiceImpl.cs
  NistagramBackend/Startup.cs
  NistagramBackend/appsettings.json
Labels: bug, user story, pull request, release

#30 edit_user -> develop Close #28
  NistagramBackend/Controllers/UserOnlineController.cs
  NistagramBackend/NistagramBackend.csproj
Labels: user story, pull request

#31 view_page -> develop Close #29
  NistagramBackend/Controllers/UserOnlineController.cs
  NistagramBackend/NistagramBackend.csproj
Labels: user story, pull request

#32 sonar_cloud -> develop Close #27
  NistagramBackend/Controllers/UserOnlineController.cs
  NistagramBackend/Helper/Helper.cs
Labels: bug, documentation, pull request

#33 develop -> master Sprint 3 Release v1.0.2
  NistagramBackend.sln
  NistagramBackend/Controllers/IndexController.cs
  NistagramBackend/Controllers/LoginController.cs
  NistagramBackend/Controllers/RegistrationController.cs
  NistagramBackend/Controllers/UserOfflineController.cs
  NistagramBackend/Controllers/UserOnlineController.cs
  NistagramBackend/Helper/Helper.cs
  NistagramBackend/Model/UserDTO.cs
  NistagramBackend/Model/WallPostDTO.cs
  NistagramBackend/NistagramBackend.csproj
  NistagramBackend/Services/IIndexService.cs
  NistagramBackend/Services/Implementation/IndexServiceImpl.cs
  NistagramBackend/Startup.cs
  NistagramBackend/appsettings.json
Labels: user story, pull request, release

#35 feature/chat -> develop Feature/chat
  NistagramBackend.sln
  NistagramBackend/Controllers/ChatController.cs
  NistagramBackend/Helper/Helper.cs
  NistagramBackend/NistagramBackend.csproj
Labels: user story, pull request
